<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список Голосів</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Список голосів</h1>
        <a href="/" class="btn btn-secondary">Голосувати</a>
    </div>
    <table class="table table-striped table-hover border shadow">
        <thead class="table-dark">
        <tr>
            <th>ID Голосу</th>
            <th>ID Користувача</th>
            <th>ID Кандидата</th>
            <th>Час Голосування</th>
        </tr>
        </thead>
        <tbody>
        {% for vote in votes %}
        <tr>
            <td><a href="https://bscscan.com/tx/{{ vote.blockchain_tx_hash }} " target="_blank">{{
                vote.blockchain_tx_hash
                }}</a></td>
            <td>{{ vote.voter_id }}</td>
            <td>{{ vote.candidate_id }}</td>
            <td>{{ vote.timestamp }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
